<h2>new-celebrity</h2>

<form action="/celebrities/create" , method="POST">

  <label for="input-name">Name of celebrity</label>
  <input
    id="input-name"
    type="text"
    placeholder="name of celebrity"
    name="name"
  />

  <label for="input-occupation">Occupation of celebrity</label>
  <input
    name="occupation"
    id="input-occupation"
    type="text"
    placeholder="occupation of the celebrity"
  />

  <label for="input-catchPhrase">CatchPhrase of celebrity</label>
  <input
    name="catchPhrase"
    id="input-catchPhrase"
    type="text"
    placeholder="catchPhrase of the celebrity"
  />

  <button> Add celebrity</button>

</form>